.container {
    display: flex;
    flex-flow: column;
    font-family: 'Quicksand', sans-serif;
}

.container h1{
    text-align: center;
}

ul {
    display: flex;
    flex-flow: column;
    margin-left: 20%;
}

ul img {
    width: 150px;
    height: 150px;
    margin: 20px;
}